<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create user</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<form id="create-form" th:action="@{/user/save}" th:object="${user}" th:method="post" accept-charset="utf-8">
    <h1>New User:</h1>

    <div class="row">
        <label for="user-name">Имя:</label>
        <input id="user-name" name="name" type="text" th:value="${user.name}" value="John Doe"/>
        <label for="user-address">Адрес:</label>
        <input id="user-address" name="address" type="text" th:value="${user.address}" value="John Doe"/>
        <label for="user-phones">Телефоны (через ,):</label>
        <input id="user-phones" name="phones" type="text" th:value="${user.phones}" value="John Doe"/>
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>

</body>
</html>
